/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $primary-font-family;
  font-size: 14px;
  line-height: 18px;
  color: $primary-color-text-dark;
  background-color: $primary-background-color-light;
}
