/* здесь используйте глобальные переменные */
/* Font Family */

$primary-font-family:"Lato", sans-serif;
$secondary-font-family:"Oswald", sans-serif;
/* Texts colors */
$primary-color-text-dark:#444444;
$basic-color-text-dark:#000000;
$additional-color-text-dark:#111111;
$special-color-text-dark:#222222;
$primary-color-text-light:#ffffff;
/* Background colors */
$primary-background-color-light:#ffffff;
$primary-background-color-accent:#68b738;
$secondary-background-color-accent-alternate:rgba(104, 183, 56, 0.85);
$primary-background-color-grey:#f2f2f2;
$secondary-background-color-grey:#eaeaea;
$special-background-color-dark:#666666;

/* Button colors */
$primary-button-color-accent:#68b738;
$primary-button-color-accent-alternate:#5faa2f;
$secondary-button-color-grey:#f2f2f2;
$secondary-button-color-grey-alternate:#ebebeb;

/* Screen width */
$desktop-screen-width: 1440px;
$tablet-screen-width: 768px;
$mobile-screen-width: 767px;
