.additional-product__heading {
  @include title($special-color-text-dark, $secondary-font-family, 16px, 16px, 400);
  text-transform: uppercase;
}

.additional-product__definition {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
