.additional-products__heading {
  @include title($basic-color-text-black, $secondary-font-Family, 24px, 24px, 400);
  // color: $basic-color-text-black;
  // font-family: $secondary-font-Family;
  // font-size: 24px;
  // font-weight: 400;
  // line-height: 24px;
}

.additional-products__list {
  list-style-type: none;
}
