.additional-product {
  display: flex;
  flex-direction: column;
}


.additional-product__definition {
  margin: 0;

  @media (min-width: $tablet-screen-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  @media (min-width: $desktop-screen-width) {
    min-width: 150px;
    align-self: center;
  }
}

.additional-product__definition--price {
  text-transform: uppercase;

  @media (min-width: $tablet-screen-width) {
    width: 80px;
    text-align: end;
    padding-right: 2px;
  }

  @media (min-width: $desktop-screen-width) {
    min-width: 80px;
    text-align: start;
    align-self: center;
  }
}

.additional-product__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;
  padding: 13px 0 16px;

  @media (max-width: $mobile-screen-width) {
    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $tablet-screen-width) {
    display: grid;
    grid-template-columns: 200px  1fr;
    padding: 26px 38px 28px;
    grid-template-areas:
      "title  list"
      "button button";
  }

  @media (min-width: $desktop-screen-width) {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    align-items: center;
  }
}

.additional-product__heading {
  @include title($special-color-text-dark, $secondary-font-family, 16px, 16px, 400);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
  grid-area: title;

  @media (min-width: $tablet-screen-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-screen-width) {
    min-width: 180px;
    margin-right: 145px;
    margin-bottom: 0;
  }
}

.additional-product__button {
  text-align: center;
  grid-area: button;

  @media (min-width: $tablet-screen-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 285px;
  }

  // @media (min-width: $desktop-screen-width) {
  //   margin-left: auto;
  //   min-width: 244px;
  // }

  @media (min-width: $desktop-screen-width) {
    // margin-left: auto;
    // min-width: 244px;
    padding: 10px 91px;
    margin-left: auto;
  }
}

.additional-product__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  grid-area: list;

  @media (min-width: $tablet-screen-width) {
    display: flex;
    justify-content: end;
    column-gap: 13px;
    padding-top: 2px;
  }

  @media (min-width: $desktop-screen-width) {
    display: flex;
    column-gap: 94px;
    margin-bottom: 0;
    padding-top: 5px;
  }
}
