
.advantages {
  padding: 20px;
  padding-bottom: 49px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-screen-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    row-gap: 36px;
  }

  @media (min-width: $desktop-screen-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  align-items: center;

  @media (max-width: $mobile-screen-width) {
    & + & {
      margin-top: 20px;
    }
  }
}

.advantages__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: $primary-background-color-accent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.advantages__item--useful-material::before {
  background-image: url("../../icons/leaf.svg");
  background-size: 25px 28px;
}

.advantages__item--mixture::before {
  background-image: url("../../icons/powder.svg");
  background-size: 26px 29px;
}

.advantages__item--meal::before {
  background-image: url("../../icons/cutlery.svg");
  background-size: 25px 30px;
}

.advantages__item--result::before {
  background-image: url("../../icons/alarm.svg");
  background-size: 26px 31px;
}
