
.advantages {
  padding: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-screen-width) {
    padding-top: 46px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-top: 71px;
  }
}

.advantages__heading {
  @include title($basic-color-text-dark, $secondary-font-family, 36px, 40px, 400);
  margin: 0;
  margin-bottom: 40px;

  &:not(:last-child) {
    margin-bottom: 42px;
  }

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;

    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: $primary-color-text-dark;

  @media (min-width: $tablet-screen-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    row-gap: 36px;
    counter-reset: numbering;
  }

  @media (min-width: $desktop-screen-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;

  @media (min-width: $tablet-screen-width) {
    position: relative;
    z-index: 0;
    min-height: 280px;
    padding-top: 15px;
    padding-right: 72px;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    counter-increment: numbering;
    gap: 35px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-top: 15px;
    padding-right: 0;
  }

  & + & {
    @media (max-width: $mobile-screen-width) {
      margin-top: 22px;
    }
  }


  &::before {
    content: "";
    width: 60px;
    height: 60px;
    margin-top: -2px;
    background-color: $primary-background-color-accent;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-screen-width) {
      width: 80px;
      height: 80px;
      margin-top: 6px;
    }
  }


  &::after {
    @media (min-width: $tablet-screen-width) {
      content: counter(numbering);
      position: absolute;
      top: -21px;
      min-width: 150px;
      right: 72px;
      z-index: -1;
      color: #f2f2f2;
      font-family: $secondary-font-family;
      font-size: 280px;
      line-height: 280px;
      text-align: center;
    }

    @media (min-width: $desktop-screen-width) {
      top: -19px;
      right: -6px;
    }
  }
}

.advantages__discription {
  margin: 0;
}

.advantages__item--useful-material::before {
  background-image: url("../../icons/leaf.svg");
  background-size: 25px 28px;
}

.advantages__item--mixture::before {
  background-image: url("../../icons/powder.svg");
  background-size: 26px 29px;
}

.advantages__item--meal::before {
  background-image: url("../../icons/cutlery.svg");
  background-size: 25px 30px;
}

.advantages__item--result::before {
  background-image: url("../../icons/alarm.svg");
  background-size: 26px 31px;
}
