.button {

  color: $primary-color-text-light;
  background-color: $primary-background-color-accent;
  border: none;
  font-family: $secondary-font-family;
  text-transform: uppercase;
  text-decoration: none;
}

.button--secondary {
  color: $primary-color-text-dark;
  background-color: $secondary-button-color-grey;
}
