.contacts--catalog {
  background-color: $primary-background-color-grey;
}

.contacts__description {
  color: $additional-color-text-dark;
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}

.contacts__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
