.developer {
  font-size: 16px;
  text-decoration: none;
  display: flex;
  font-family: $primary-font-family;
  color: $primary-color-text-dark;

  &:active {
    opacity: 0.3;
  }
}

.developer__image {
  display: block;
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#logo-html-academy");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $special-background-color-dark;
}

.developer__image:hover {
  background-color: $primary-background-color-accent;
}

.developer__image:active {
  background-color: $secondary-background-color-accent-alternate;
}
