.example {
  background-color: $secondary-background-color-grey;
}

.example__heading {
  @include title($basic-color-text-dark, $secondary-font-family, 36px, 40px, 400);
}

.example__list {
  text-align: center;
}

.example__title {
  font-size: 12px;
}

.example__digital-value {
  color: $basic-color-text-dark;
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__spending {
  color: $basic-color-text-dark;
  font-family: $secondary-font-family;
  line-height: 20px;
  text-transform: uppercase;
}
