.header-promo {
  font-family: $secondary-font-family;
  text-align: center;

  @media (max-width: $mobile-screen-width) {
    color: $primary-color-text-light;
    background-color: #63a63b;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url("../../images/promo-cat-mobile@1x.jpeg");
  }

  @media (min-width: $tablet-screen-width) {
    color: $basic-color-text-dark;
    background-color: transparent;
    text-align: left;
  }
}

.header-promo__heading {
  @include title($primary-color-text-light, $secondary-font-family, 36px, 36px, 400);
  margin: 0;
  margin-bottom: 25px;


  @media (min-width: $tablet-screen-width) {
    color: $basic-color-text-dark;
    font-size: 60px;
    margin-bottom: 41px;
  }
}

.header-promo__text {
  line-height: 14px;
  text-transform: uppercase;
  font-family: $secondary-font-family;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 49px;
    font-size: 20px;
  }
}
