/* здесь используйте глобальные селекторы img, body, html и так далее */
.logo {
  @media (max-width: $mobile-screen-width) {
    display: grid;
    grid-template-columns: 33px 1fr;
    align-items: center;
    gap: 16px;
  }

  @media (min-width: $desktop-screen-width) {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 13px;
  }
}


.logo__text {
  justify-self: center;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}
