.main-header__nav {
  @media (min-width: $tablet-screen-width) {
    width: 704px;
    margin: 0 auto;
    padding: 18px 0;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
    align-items: center;
  }

  @media (min-width: $desktop-screen-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    padding: 52px 0;
  }
}

.main-header__wrap {
  @media (max-width: $mobile-screen-width) {
    width: 320px;
    margin: 0 auto;
    padding: 13px 18px 10px 20px;
    display: grid;
    grid-template-columns: 33px 1fr 33px;
    gap: 16px;
    align-items: center;
  }
}

.main-header__logo {
  grid-column: 1 / 3;
}

.main-header__logo .logo-text {
  justify-self: center;

  @media (min-width: $desktop-screen-width) {
    width: 118px;
    height: 21px;
  }
}

.main-header__menu {
  margin: 0;

  @media (max-width: $mobile-screen-width) {
    background-color: $primary-background-color-light;

    .main-header__nav--closed & {
      display: none;
    }

    .main-header__nav--opened & {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 2;
      display: block;
    }
  }

  @media (min-width: $tablet-screen-width) {
    margin-right: -17px;
  }

  @media (min-width: $desktop-screen-width) {
    max-width: 600px;
  }
}

.main-header__toggler {
  width: 24px;
  height: 24px;
  display: none;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../../icons/burger.svg");
  border: none;

  @media (max-width: $mobile-screen-width) {
    .main-header__nav--closed & {
      display: block;
      margin-left: auto;
    }

    .main-header__nav--opened & {
      display: block;
      background-image: url("../../icons/close.svg");
      margin-left: auto;
    }
  }

  @media (min-width: $tablet-screen-width) {
    display: none;
  }
}

.main-header__nav--nojs .main-header__toggler {
  display: none;
}

.main-header__nav--nojs .main-header__wrap {
  min-height: 0;
  position: static;
}

.main-header__nav--nojs .site-menu__item {
  display: block;
}
