.product__heading {
  @include title($special-color-text-black, $secondary-font-Family, 16px, 20px, 400);
  // color: $special-color-text-black;
  // font-family: $secondary-font-Family;
  // font-size: 16px;
  // line-height: 20px;
  // font-weight: 400;
  text-transform: uppercase;
}

.product__link {
  text-decoration: none;
}

.product__description {
  font-size: 12px;
  line-height: 16px;
}

.product__text {
  color: $primary-color-text-black;
  font-family: $primary-font-Family;
  font-size: 12px;
  line-height: 16px;
}
