.product__heading {
  @include title($special-color-text-dark, $secondary-font-family, 16px, 20px, 400);
  text-transform: uppercase;
}

.product__link {
  text-decoration: none;
}

.product__description {
  font-size: 12px;
  line-height: 16px;
}

.product__text {
  color: $primary-color-text-dark;
  font-family: $primary-font-family;
  font-size: 12px;
  line-height: 16px;
}

.product__heading--plus {
  position: relative;
}

.product__heading--plus::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/plus-small.svg");
  background-repeat: no-repeat;
  top: -20px;
  left: 70px;
  background-size: 30px 30px;
  display: block;
  width: 30px;
  height: 30px;
}
