.promotion {
  background-color: $secondary-background-color-accent-alternate;
  background-image: url("../../images/cat-in-backpack-desktop.@1x.jpeg");
  color: $primary-color-text-light;
  font-family: $secondary-font-family;
  text-align: center;
  padding: 80px;
}

.promotion__description {
  color: $primary-color-text-light;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
