.promotion {
  position: relative;
  background-color: $secondary-background-color-accent-alternate;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../../images/cat-in-backpack-mobile@1x.webp"), url("../../images/cat-in-backpack-mobile@1x.jpeg");
  font-family: $secondary-font-family;
  text-align: center;
  padding: 59px 56px 44px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/cat-in-backpack-mobile@2x.webp"), url("../../images/cat-in-backpack-mobile@2x.jpeg");
  }

  @media (min-width: $tablet-screen-width) {
    padding: 70px 120px 70px 422px;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("../../images/cat-in-backpack-tablet.@1x.webp"), url("../../images/cat-in-backpack-tablet.@1x.jpeg");

    text-align: left;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/cat-in-backpack-tablet.@2x.webp"), url("../../images/cat-in-backpack-tablet.@2x.jpeg");
    }
  }

  @media (min-width: $desktop-screen-width) {
    padding: 57px 40px 42px;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("../../images/cat-in-backpack-desktop.@1x.webp"), url("../../images/cat-in-backpack-desktop.@1x.jpeg");

    text-align: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/cat-in-backpack-desktop.@2x.webp"), url("../../images/cat-in-backpack-desktop.@2x.jpeg");
    }
  }
}

.promotion__description {
  font-family: $primary-font-family;
  margin: 0;
  color: $primary-color-text-light;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/gift.svg");
    margin: 0 auto 48px;

    @media (min-width: $tablet-screen-width) {
      position: absolute;
      width: 80px;
      height: 82px;
      margin: 0;
      left: 11%;
      top: 29%;
    }

    @media (min-width: $desktop-screen-width) {
      position: static;
      width: 80px;
      height: 83px;
      margin: 0 auto 46px;
    }
  }
}
