.site-menu {
  color: $basic-color-text-dark;
  text-transform: uppercase;
  list-style-type: none;
  font-family: $secondary-font-family;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;

  @media (max-width: $mobile-screen-width) {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  @media (min-width: $tablet-screen-width) {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
  }
}

.site-menu__link {
  color: $basic-color-text-dark;
  text-decoration: none;
}
