.site-menu {
  color: $basic-color-text-black;
  text-transform: uppercase;
  list-style-type: none;
  font-family: $secondary-font-Family;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.site-menu__link {
  text-decoration: none;
}
