.social {
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.social__link {
  display: block;

  &::before {
    content: "";
    display: block;
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    height: 28px;
    width: 22px;
    background: $special-background-color-dark;
  }

  &:hover {
    &::before {
      background: $primary-background-color-accent;
    }
  }

  &:active {
    &::before {
      opacity: 0.6;
    }
  }
}

.social__link--vkontakte {
  --icon: url("../../icons/stack.svg#vkontakte");
}

.social__link--youtube {
  --icon: url("../../icons/stack.svg#youtube");
}

.social__link--telegram {
  --icon: url("../../icons/stack.svg#telegram");
}
