.sports-nutrition-inner {
  list-style-type: none;
}


.sports-nutrition__item {
  background-color: $primary-background-color-grey;
}

.sports-nutrition__heading {
  @include title($basic-color-text-black, $secondary-font-Family, 24px, 37px, 400);
  // color: $basic-color-text-black;
  // font-family: $secondary-font-Family;
  // font-size: 24px;
  // line-height: 37px;
  text-transform: uppercase;
}

.sports-nutrition__link {
  color: $basic-color-text-black;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
