.subscribe {
  position: relative;
  z-index: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 49px;
    right: 0;
    left: 0;
    z-index: -1;
    height: 2px;
    background-color: $primary-background-color-accent;
  }

  @media (min-width: $tablet-screen-width) {
    padding-top: 80px;
    padding-bottom: 80px;

    &::before {
      content: "";
      position: absolute;
      top: 94px;
      right: 0;
      left: 0;
      z-index: -1;
      height: 2px;
      background-color: $primary-background-color-accent;
    }
  }

  @media (min-width: $desktop-screen-width) {
    padding-top: 100px;
    padding-bottom: 105px;

    &::before {
      content: "";
      position: absolute;
      top: 114px;
      right: 0;
      left: 0;
      z-index: -1;
      height: 2px;
      background-color: $primary-background-color-accent;
    }
  }
}


.subscribe__heading {
  @include title($basic-color-text-dark, $secondary-font-family, 24px, 24px, 400);
  margin: 0;
  margin-bottom: 32px;
  margin-left: -20px;
  padding: 0 20px;
  padding-right: 42px;
  justify-self: start;
  background-color: $primary-background-color-light;

  @media (min-width: $tablet-screen-width) {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 66px;
    margin-left: 19px;
    padding: 0 20px;
    padding-right: 42px;
    justify-self: start;
  }

  @media (min-width: $desktop-screen-width) {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 69px;
    margin-left: -41px;
    padding: 0 41px;
    padding-right: 42px;
    justify-self: start;
  }
}

.subscribe__description {
  color: $basic-color-text-dark;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;

  @media (min-width: $tablet-screen-width) {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 0 68px;
  }

  // @media (min-width: $desktop-screen-width) {
  //   font-size: 24px;
  //   font-weight: 400;
  //   line-height: 32px;
  //   text-align: center;
  //   padding: 0 68px;
  // }
}

.subscribe__inner {
  display: grid;

  // @media (min-width: $tablet-screen-width) {
  //   padding-top: 80px;
  //   padding-bottom: 80px;
  // }
}
