.subscribe__heading {
  @include title($basic-color-text-dark, $secondary-font-family, 24px, 24px, 400);
  margin: 0;
  margin-bottom: 32px;
}

.subscribe__description {
  color: $basic-color-text-dark;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

.subscribe__inner {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-screen-width) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
